/*font-face подключение стилей Myriad Pro */
@font-face {
  font-family: "MyriadProBlack";
  src: url("../fonts/MyriadProBlack/MyriadPro-Black.eot");
  src: url("../fonts/MyriadProBlack/MyriadPro-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/MyriadProBlack/MyriadPro-Black.woff") format("woff"),
    url("../fonts/MyriadProBlack/MyriadPro-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "MyriadProSemiBold";
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "MyriadProLight";
  src: url("../fonts/MyriadProLight/MyriadPro-Light.otf") format("otf");
  src: url("../fonts/MyriadProLight/MyriadPro-Light.eot");
  src: url("../fonts/MyriadProLight/MyriadPro-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/MyriadProLight/MyriadPro-Light.woff") format("woff"),
    url("../fonts/MyriadProLight/MyriadPro-Light.woff2") format("woff2"),
    url("../fonts/MyriadProLight/MyriadPro-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

/* mixin */
@mixin burger($width: 40px, $heigt: 3px, $color: #000000) {
  display: block;
  width: $width;
  height: $heigt;
  background-color: $color;
  transform: scale(1.3);
}

@mixin arrow($width: 12px, $heigt: 12px, $color: #c4c4c4, $border: 2px) {
  display: block;

  width: $width;
  height: $heigt;

  border-top: $border solid $color;
  border-right: $border solid $color;
}

@mixin about-header-text {
  font-family: "MyriadProBlack", sans-serif;
  font-size: 28px;
  color: #000000;
}

@mixin hover-menu {
  outline: none;
  border: 0;
  background: transparent;
}

@mixin btn($width: 280px, $height: 40px) {
  height: $height;
  min-width: $width;
  outline: 1px solid #363636;
  box-sizing: border-box;
  border-radius: 30px;
}

/* основные */

body {
  margin: 0;
  font-family: "Lato", Arial, sans-serif;
}

.hidden {
  position: absolute;
  left: -99999px;
  width: 1px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
  /*вместо display: none;*/
}

/* header */

.header {
  margin: 0 auto;
  height: 290px;
  background: url(../img/slider2.jpg) center right no-repeat;
  background-size: 170%;
  background-color: #e5e5e5;
  outline: none;
}

.wrapper {
  min-width: 280px;
  max-width: 1160px;

  margin: 0 auto;
  padding: 0px 20px;
  outline: 1px solid red;
}

/* section drop menu */

.nav {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}

.nav-after {
  transform: scale(0);
}

.nav-menu-link {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    font-family: "MyriadProBlack", sans-serif;
  }
}

.nav-menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.logo-link {
  text-decoration: none;
}

.logo-img {
  width: 100px;
  height: 30px;
}

.drop-burgers-menu {
  @include hover-menu();
}

.drop-burgers-menu span {
  @include burger();

  margin-bottom: 21px;

  transform: rotate(45deg) scale(0.88);
  transform-origin: left top;
}

.drop-burgers-menu::after {
  content: "";
  @include burger();
  transform: rotate(-45deg) scale(0.88);
  transform-origin: left bottom;
}

.header-menu {
  padding-top: 13px;
  width: 100%;

  height: 616px;

  background: #ffffff;

  position: absolute;
  top: 0px;
  left: 0px;

  transform: scale(0, 0);
  transform-origin: right top;
  transition: 0.5s;
}

.main-nav:hover .header-menu {
  transform: scale(1, 1);
}

.hover-main {
  margin: 15px -40px 0px 0px;

  transform: translateX(-20px);

  height: 640vh;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7.5px);
}

.burgers-menu {
  @include hover-menu();
}

.burgers-menu span {
  @include burger();
  background-color: #ffffff;
}

.burgers-menu::before,
.burgers-menu::after {
  content: "";
  @include burger();
}

.burgers-menu::before {
  margin-bottom: 9px;
  background-color: #ffffff;
}

.burgers-menu::after {
  margin-top: 9px;
  background-color: #ffffff;
}

.menu {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.menu-list {
  padding-bottom: 20px;
  list-style-type: none;
}

.menu-link {
  width: 61px;
  height: 22px;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
}

.header-menu-text {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.header-callback {
  display: flex;
  flex-direction: column;
}

.header-callback-field::-webkit-input-placeholder {
  font-family: "MyriadProRegular", sans-serif;

  font-size: 14px;
  line-height: 17px;
  color: #363636;
}

.header-callback-field {
  padding-left: 25px;
  margin-bottom: 10px;

  font-family: "MyriadProRegular", sans-serif;
  @include btn();
}

.header-callback-btn-span {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;

  font-family: "MyriadProBlack", sans-serif;
  text-transform: uppercase;
}

.text-left {
  padding-right: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.header-callback-btn {
  height: 40px;
  border-radius: 30px;
  background-color: #008dcd;

  transition: 0.5s;

  &:hover {
    box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
  }

  &:active {
    background-color: #94d1ec;
  }
}

.header-callback-input-span {
  padding-left: 5px;
  font-size: 10px;
  color: #9e9e9e;
}

/* socials */

.socials {
  display: flex;
  justify-content: space-between;
}

input,
button {
  outline: none;
  border: none;
  background: #ffffff;
}

.icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #008dcd;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.5s;

  &:hover {
    box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
  }

  &:active {
    background-color: #94d1ec;
  }
}

.fab {
  padding-right: 5px;

  font-family: FontAwesome;
  font-size: 22px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: white;
}

.main {
  margin-top: 300px;
}

.send {
  translate: 0px 160px;
  padding: 30px 0px;
}

/*section send*/

.send-header {
  font-family: "MyriadProBlack", sans-serif;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;

  text-transform: uppercase;

  color: #000000;
}

.send-text {
  font-family: "MyriadProBlack", sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.send2-info {
  padding-bottom: 17px;
}

.btn-send {
  height: 50px;
  width: 280px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  background: #008dcd;

  border-radius: 30px;
  transition: 0.5s;

  &:hover {
    box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
  }

  &:active {
    background: #94d1ec;
  }
}

.send-btn {
  padding-bottom: 30px;

  &:hover .feedback-wrapper {
    transform: scale(1, 1);
  }

  &:hover .main {
    transform: none;
  }
}

.send-btn-span {
  padding-right: 25px;

  font-family: "MyriadProBlack", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
}

/*section send2*/

.send2 {
  background: #f7f7f7;
}

.send2-wrapper {
  padding-top: 30px;
}

.img-send2 {
  width: 280px;
}

.send2-header {
  font-family: "MyriadProSemibold", sans-serif;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
}

.send2-text {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #000000;
}

/*section guide*/

.guide-step1 {
  padding-bottom: 10px;
}

.img-step1 {
  width: 280px;
  height: 190px;
}

.guide-step1-header {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 26px;
  line-height: 0px;
  color: #000000;
}

.guide-step1-text {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
}

/*section send3*/

.send3 {
  background: #f7f7f7;
}

.send3-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.send3-header {
  font-family: "MyriadProBlack", sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

/*section callback*/

.callback {
  background: #008dcd;
}

.callback-header {
  padding-top: 30px;

  font-family: "MyriadProBlack", sans-serif;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  color: #ffffff;
}

.callback-text {
  font-family: "MyriadProSemibold", sans-serif;
  font-size: 14px;
  line-height: 13px;
  color: #ffffff;
}

.callback-field::-webkit-input-placeholder {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.callback-field {
  padding-left: 25px;
  margin-bottom: 9px;

  width: 280px;
  height: 50px;

  font-family: "MyriadProRegular", sans-serif;
  outline: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
  background: #008dcd;
}

.callback-btn {
  width: 280px;
  height: 50px;

  background: #ffcc00;
  border-radius: 30px;

  &:hover {
    box-shadow: 0px 4px 20px rgba(255, 204, 0, 0.55);
  }

  &:active {
    background: #fce39c;
  }
}

.callback-btn-span {
  font-family: "MyriadProBlack", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #363636;
}

input::before,
input::after {
  box-sizing: border-box;
}

input[type="checkbox"] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.callback-agree-input {
  width: 10px;
  height: 10px;

  outline: 1px solid #ffffff;

  background-color: #008dcd;
}

.callback-input-span {
  margin-left: 5px;

  font-family: "MyriadProLight", sans-serif;
  font-size: 10px;
  line-height: 0px;
  color: #ffffff;
}

.callback-wrapper {
  padding-bottom: 10px;
}

/*section about*/

.about-header {
  @include about-header-text();
}

/* section guarantee pagination */
.pagination-right,
.pagination-left {
  @include arrow();
  translate: 0px -10px;
}

.pagination-left {
  transform: rotate(-135deg) scale(1.5);
}

.pagination-right {
  transform: rotate(45deg) scale(1.5);
}

.pagination-partners {
  translate: 0px 20px;
}

/* section reviews box guarantee */

.reviews-box {
  margin-left: 0px;
  margin-top: 0px;
}

.reviews-text {
  min-width: 230px;

  display: flex;
  justify-content: start;
}

.about-reviews,
.about-guarantee,
.partners-wrapper {
  margin-bottom: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-guarantee {
  align-items: baseline;
}

.about-reviews-box {
  margin: 0px 10px;
  width: 230px;

  display: flex;
}

.about-reviews-author {
  margin-left: 19px;
}

.img-reviews {
  margin-top: 20px;

  width: 100px;
  height: 100px;
}

.about-reviews-author {
  height: 110px;
}

.author-name {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 26px;
  line-height: 6px;
  color: #000000;
}

.author-company {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 18px;
  line-height: 9px;
  color: #000000;
}

.author-package {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 10px;
  line-height: 5px;
  color: #000000;
}

.author-package-span {
  padding-left: 5px;
}

.about-package {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 10px;
  line-height: 4px;
  color: #000000;
}

.author-comment {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.reviews-box1 {
  display: none;
}

/*section advantage*/

.advantage {
  background: #f7f7f7;
}

.advantage-header {
  @include about-header-text();
  line-height: 30px;
}

.advantage-icon-block {
  padding-bottom: 28px;
  display: flex;
  flex-wrap: wrap;
}

.icon-advantage {
  width: 33%;
  padding-bottom: 60px;
}

.advantage-icon {
  width: 86px;
  height: 86px;
  background: #ffffff;
  border-radius: 50%;
}

.advantage-img1 {
  margin-top: 28px;
  margin-left: 16px;
  width: 58px;
  height: 34px;
}

.advantage-img2 {
  margin-top: 22px;
  margin-left: 27px;
  width: 35px;
  height: 41px;
}

.advantage-img3 {
  margin-top: 25px;
  margin-left: 25px;
  width: 36px;
  height: 36px;
}

.advantage-img4 {
  margin-top: 28px;
  margin-left: 24px;
  width: 37px;
  height: 32px;
}

.advantage-img5 {
  margin-top: 25px;
  margin-left: 25px;
  width: 38px;
  height: 36px;
}

.advantage-img6 {
  margin-top: 30px;
  margin-left: 25px;
  width: 40px;
  height: 31px;
}

.advantage-text {
  margin-left: 13px;
  width: 62px;
  height: 16px;

  font-family: "MyriadProRegular", sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  text-align: center;
}

/*section guarantee*/

.guarantee-header {
  margin-top: 10px;

  width: 160px;
  height: 39px;

  font-family: "MyriadProRegular", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.reviews-box-guarantee {
  min-width: 230px;
  height: 235px;
}

.guarantee-reviews-text {
  display: flex;
  justify-content: space-around;
}

.guarantee-icon {
  margin-left: 15px;

  width: 62px;
  height: 62px;

  background: #f7f7f7;
  border-radius: 50%;
}

.img-guarantee {
  margin-top: 20px;
  margin-left: 17px;

  width: 28px;
  height: 26px;
}

.guarantee-text {
  padding-left: 30px;

  width: 230px;

  font-family: "MyriadProRegular", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.guarantee-callback {
  margin-left: 30px;

  @include btn(200px, 40px);
  border: none;

  background: #008dcd;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  transition: 0.5s;

  &:hover {
    box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
  }

  &:active {
    background-color: #94d1ec;
  }
}

.guarantee-href {
  padding-right: 25px;

  font-family: "MyriadProBlack", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;

  text-transform: uppercase;
  text-decoration: none;
}

/*section questions*/

.questions {
  padding-bottom: 25px;
  background: #d2ecf7;
}

.questions-header {
  margin: 0px;
  padding-top: 25px;

  font-family: "MyriadProBlack", sans-serif;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
}

.question-details {
  margin-top: 10px;
  padding: 20px;

  height: 80px;
  background: #ffffff;
  border-radius: 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: 0.5s;

  &:hover {
    box-shadow: 0px 4px 20px rgba(124, 195, 225, 0.6);
  }
}

.question-text,
.answer-text {
  padding: 10px 25px;

  font-family: "MyriadProRegular", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.question-text {
  width: 205px;
}

.answer-text {
  margin: 0px 1px 30px 1px;
  height: 80px;
  outline: 1px solid #ffffff;
  border-radius: 0px 0px 32px 32px;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: "";
  position: absolute;
  right: 50px;

  @include arrow(8px, 8px, #008dcd, 2px);
  transform: rotate(135deg);
}

details[open] summary::before {
  content: "";

  @include arrow(8px, 8px, #008dcd, 2px);
  transform: rotate(-45deg);
}

details[open] .question-details {
  border-radius: 32px 32px 0px 0px;
  padding: 20px;
}

.box-after,
.box-after1 {
  display: none;
}

/*section partners*/

.partners-box {
  padding: 15px 0px;

  width: 220px;
  height: 90px;
}

.href-partners-icon-after {
  transform: scale(0);
}

.partners-icon {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.href-partners-icon {
  flex: 1 1;
}

/*section send4*/

.send4 {
  background: #e9e9e9;
}

.header-send4-text {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

/* section footer-send4 */

.footer-send4-callback {
  padding-top: 10px;
}

.send4-callback-field::-webkit-input-placeholder {
  font-family: "MyriadProRegular", sans-serif;

  font-size: 14px;
  line-height: 17px;
  color: #363636;
}

.send4-callback-field {
  padding-left: 25px;
  margin-bottom: 10px;

  @include btn();
  font-family: "MyriadProRegular", sans-serif;
  background: #e9e9e9;
}

.footer-callback-btn {
  height: 40px;
  border-radius: 30px;
  background-color: #008dcd;

  transition: 0.5s;

  &:hover {
    box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
  }

  &:active {
    background-color: #94d1ec;
  }
}

.send4-footer {
  padding-top: 10px;
  height: 55px;
}

.send4-nav {
  border-top: 1px solid#C4C4C4;
}

.send4-burgers-menu {
  @include hover-menu();
}

.send4-burgers-menu span {
  @include burger();
  background-color: #363636;
}

.send4-burgers-menu::before,
.send4-burgers-menu::after {
  content: "";
  @include burger();
}

.send4-burgers-menu::before {
  margin-bottom: 9px;
  background-color: #363636;
}

.send4-burgers-menu::after {
  margin-top: 9px;
  background-color: #363636;
}

.footer-text {
  margin-top: 17px;

  font-family: "MyriadProRegular", sans-serif;
  font-size: 9px;
  line-height: 12px;
  color: #000000;

  border-top: 1px solid#C4C4C4;

  display: flex;
  justify-content: space-between;
}

.footer-callback {
  display: flex;
  flex-direction: column;
}

.footer-nav {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-after {
  transform: scale(0);
}

.footer-nav-menu-link {
  font-family: "MyriadProRegular";
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
}

.nav-menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.logo-img-footer {
  width: 140px;
  height: 60px;
}

.footer-burgers-menu {
  @include hover-menu();
}

.footer-burgers-menu span {
  @include burger();
  background-color: #000000;
}

.footer-burgers-menu::before,
.footer-burgers-menu::after {
  content: "";
  @include burger();
}

.footer-burgers-menu::before {
  margin-bottom: 9px;
  background-color: #000000;
}

.footer-burgers-menu::after {
  margin-top: 9px;
  background-color: #000000;
}

.footer-nav-after {
  display: none;
}

.footer-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;

  transform: scale(0);
}

.footer-icon {
  margin-right: 15px;

  width: 13px;
  height: 13px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: #008dcd;
  text-decoration: none;

  transition: 0.5s;

  &:hover {
    box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
  }

  &:active {
    background-color: #94d1ec;
  }
}

/* feedback */
.feedback-wrapper {
  translate: 20px -410px;

  transform: scale(0, 0);

  position: absolute;

  top: 0px;
  right: 0px;

  width: 100%;
  height: 800vh;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7.5px);
}

.feedback {
  position: absolute;

  width: 320px;
  height: 315px;

  left: 50%;
  top: 50%;

  background: #ffffff;

  border-radius: 32px;

  align-content: center;

  transform: translate(-50%, -50%);
}

.feedback-close-btn {
  transform: scale(1, 1) translateX(280px) translateY(5px);
}

.feedback-close-btn span {
  @include burger(20px, 1px, #008dcd);

  margin-bottom: 11px;

  transform: rotate(45deg) scale(0.88);
  transform-origin: left top;
}

.feedback-close-btn::after {
  content: "";
  @include burger(20px, 1px, #008dcd);
  transform: rotate(-45deg) scale(0.88);
  transform-origin: left bottom;
}

.feedback-header {
  text-align: center;

  font-family: "MyriadProSemibold", sans-serif;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

.feedback-form {
  text-align: center;
}

.feedback-form::-webkit-input-placeholder,
.name-field::placeholder,
.tel-field::placeholder {
  font-family: "MyriadProRegular", sans-serif;

  font-size: 16px;
  line-height: 19px;

  color: #008dcd;
}

.name-field,
.tel-field,
.feedback-btn {
  padding-left: 25px;
  margin-bottom: 10px;

  width: 280px;
  height: 50px;

  font-family: "MyriadProRegular", sans-serif;

  outline: 1px solid #008dcd;
  border-radius: 32px;

  font-size: 16px;
  line-height: 19px;

  color: #008dcd;
}

.feedback-btn {
  background: #008dcd;
}

.feedback-btn-span {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;

  font-family: "MyriadProBlack", sans-serif;
  text-transform: uppercase;
}

@media (min-width: 425px) {
  .header {
    height: 415px;
    background-size: auto;
  }

  .send {
    translate: 0px 285px;
  }

  .feedback-wrapper {
    max-width: 100%;
    height: 780vh;
  }

  .callback-field,
  .callback-btn,
  .footer-callback-btn {
    width: 385px;
  }

  .footer-callback-btn {
    padding-right: 35px;
    text-align: end;
  }
}

@media (min-width: 620px) {
  .wrapper {
    padding: 0px 30px;
  }

  .main {
    margin-top: 0px;
  }

  .send-wrapper {
    padding: 0px;
  }

  .send {
    min-width: 400px;
    max-width: 500px;

    translate: none;
    padding: 0px;
  }

  .feedback-wrapper {
    height: 680vh;
  }

  .feedback {
    width: 440px;
    height: 335px;
  }

  .feedback-close-btn {
    transform: scale(1, 1) translateX(400px) translateY(-10px);
  }

  .name-field,
  .tel-field {
    width: 330px;
  }

  .feedback-btn {
    width: 360px;
  }

  .callback-field,
  .callback-btn {
    width: 280px;
  }

  .main-nav:hover .header-menu {
    transform: scale(0);
  }

  .nav {
    padding-top: 0px;

    transform: scale(0);
  }

  .nav-after {
    min-width: 620px;
    transform: scale(1) translateX(-40px);
  }

  .send-header {
    font-size: 44px;
    line-height: 53px;
    color: #ffffff;
  }

  .send-text {
    font-size: 28px;
    line-height: 34px;
    color: #ffffff;
  }

  .send2-wrapper {
    display: flex;
    height: 315px;
  }

  .send2-header {
    margin: 0px;

    font-size: 36px;
    line-height: 43px;
  }

  .send2-header-wrapper {
    width: 460px;
    height: 280px;
  }

  .send2-info {
    width: 280px;
  }

  .send2-text {
    padding-top: 10px;
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 17px;
  }

  .img-send2 {
    order: 1;
    margin-top: 50px;
    width: 300px;
    height: 200px;
  }

  .guide-wrapper {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .guide-step1 {
    flex: 1 1;
    min-width: 280px;
    padding-bottom: 35px;
  }

  .guide-step1-text {
    font-size: 16px;
    line-height: 19px;
  }

  .send3-wrapper {
    height: 180px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .send3-header {
    width: 380px;
    font-size: 28px;
    line-height: 34px;
  }

  .callback-wrapper {
    padding: 30px;

    display: flex;
    justify-content: space-between;
  }

  .callback-header {
    margin: 0px;
    padding-top: 0px;
  }

  .callback-text {
    padding: 0px;
    width: 295px;
  }

  .callback-form {
    display: flex;
    flex-direction: column;
  }

  .callback-input-span {
    transform: translateY(-4px) translateX(20px);
  }

  .callback-btn {
    margin-bottom: 10px;
  }

  .pagination-left,
  .pagination-right {
    translate: 0px -65px;
  }

  .pagination-partners {
    translate: 0px 10px;
  }

  .about-reviews-box {
    margin: 0px 40px;
    flex-grow: 1;
    justify-content: space-between;
  }

  .reviews-box,
  .reviews-box1 {
    width: 280px;
  }

  .reviews-box1 {
    display: block;
  }

  .author-comment {
    font-size: 14px;
    line-height: 17px;
  }

  .about-header,
  .advantage-header {
    font-size: 36px;
    line-height: 43px;
  }

  .advantage-header {
    padding: 0px 30px 55px 0px;
    margin: 0;
  }

  .advantage-icon-block {
    padding-left: 15px;
    flex-wrap: nowrap;
  }

  .advantage-text {
    margin-left: 2px;
    width: 100px;
    height: 19px;

    font-size: 12px;
    line-height: 14px;
  }

  .guarantee-reviews-text {
    display: block;
  }

  .about-guarantee {
    justify-content: left;
  }

  .pagination-guarantee {
    translate: 0px -15px;
  }

  .guarantee-icon {
    width: 100px;
    height: 100px;
    background: #f7f7f7;
  }

  .img-guarantee {
    margin-top: 28px;
    margin-left: 27px;
    width: 46px;
    height: 44px;
  }

  .img-guarantee2 {
    margin-top: 23px;
    margin-left: 26px;
    width: 47px;
    height: 52px;
  }

  .img-guarantee3 {
    margin-top: 24px;
    margin-left: 26px;
    width: 49px;
    height: 51px;
  }

  .guarantee-reviews-box {
    margin-left: 25px;

    display: flex;
    flex-direction: column;
  }

  .guarantee-header {
    width: 220px;
    height: 25px;
    font-size: 19px;
  }

  .guarantee-text {
    padding-left: 0px;
    width: 220px;
    height: 75px;
  }

  .guarantee-callback {
    margin: 20px 20px 40px 0px;
  }

  .box-after {
    display: block;
  }

  .box-after1 {
    display: none;
  }

  .advantage-wrapper {
    padding: 0px;
    height: 314px;
  }

  .reviews-box-guarantee {
    height: 290px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .question-details {
    height: 50px;
  }

  .question-text,
  .answer-text {
    padding-left: 31px;
    font-size: 17px;
    line-height: 19px;
  }

  .question-text {
    width: 650px;
  }

  .questions {
    min-height: 435px;
  }

  details[open] summary::before {
    right: 50px;
  }

  .partners {
    height: 110px;
  }

  .href-partners-icon-after {
    transform: scale(1);
    flex: 1 1;
  }

  .partners-box {
    padding: 15px 25px 40px 15px;

    width: 665px;
    height: 25px;
  }

  .header-send4-text {
    font-size: 20px;
    line-height: 24px;
  }

  .send4-callback-field {
    margin-bottom: 8px;

    @include btn(220px, 50px);
  }

  .footer-callback-btn {
    width: 220px;
    height: 50px;
  }

  .footer-send4-callback {
    padding: 35px 0px 10px 0px;
  }

  .footer-callback {
    padding-top: 10px;
    width: 460px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .footer-send4 {
    padding-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-callback-input {
    margin: 0px;
  }

  .footer-nav {
    display: none;
  }

  .footer-nav-after {
    display: block;
  }

  .footer-socials {
    transform: scale(1);
  }

  .fab {
    font-family: "FontAwesome";
    margin: 2px 0px 0px 3px;
    font-size: 6px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: white;
  }

  .href-partners-icon-after,
  .footer-socials {
    transform: none;
  }

  .img-partners {
    width: 60px;
    height: 40px;
  }

  .callback-wrapper-btn {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 700px) {
  .img-send2 {
    width: 400px;
  }

  .pagination-guarantee {
    position: absolute;
    left: -99999px;
    width: 1px;
    height: 1px;
    opacity: 0;
    visibility: hidden;
  }

  .advantage-icon {
    width: 100px;
    height: 100px;
  }

  .advantage-img1 {
    margin-top: 35px;
    margin-left: 24px;
    width: 56px;
    height: 32px;
  }

  .advantage-img2 {
    margin-top: 26px;
    margin-left: 32px;
    width: 40px;
    height: 48px;
  }

  .advantage-img3 {
    margin-top: 29px;
    margin-left: 29px;
    width: 42px;
    height: 42px;
  }

  .advantage-img4 {
    margin-top: 32px;
    margin-left: 28px;
    width: 43px;
    height: 37px;
  }

  .advantage-img5 {
    margin-top: 29px;
    margin-left: 28px;
    width: 44px;
    height: 43px;
  }

  .advantage-img6 {
    margin-top: 35px;
    margin-left: 29px;
    width: 47px;
    height: 36px;
  }

  .box-after1 {
    display: block;
  }

  .guarantee-wrapper {
    padding: 0px;
  }

  .reviews-box-guarantee {
    margin: 0px;
  }

  .guarantee-reviews-box {
    min-width: 200px;
  }
}
@media (min-width: 770px) {
  .header {
    height: 525px;
    background: url(../img/slider3.jpg) 70% no-repeat;
  }

  .nav-after {
    translate: 0px -30px;
  }

  .feedback-wrapper {
    height: 700vh;
  }
}

@media (min-width: 1024px) {
  /* section header */

  .header {
    background: url(../img/slider3.jpg) center center no-repeat;
    background-size: auto;
  }

  .logo-img {
    width: 160px;
    height: 50px;
  }

  .nav-menu-link {
    font-size: 18px;
    line-height: 22px;
  }

  /* section send */

  .send {
    min-width: 500px;
    max-width: 750px;
  }

  .send-header {
    font-size: 48px;
    line-height: 58px;
  }

  .send-text {
    font-size: 36px;
    line-height: 43px;
  }

  .btn-send {
    width: 360px;
    justify-content: center;
  }

  .feedback-wrapper {
    height: 740vh;
  }

  /* section send2 */

  .send2-wrapper {
    height: 455px;
  }

  .img-send2 {
    width: 550px;
    height: 335px;
  }

  .send2-header-wrapper {
    padding-top: 60px;
  }

  .send2-text {
    font-size: 16px;
    line-height: 19px;
  }

  /* section guide */

  .guide-step1 {
    min-width: 460px;
  }

  .img-step1 {
    width: 360px;
    height: 270px;
  }

  .guide-step1-header {
    font-size: 30px;
  }

  .guide-step1-text {
    font-size: 20px;
    line-height: 24px;
  }

  /* section send3 */

  .send3-header {
    width: 710px;

    line-height: 43px;
  }

  /* section ccallback */

  .callback-wrapper {
    padding: 75px 30px 45px 30px;
  }

  .callback-wrapper-text,
  .callback-text {
    max-width: 755px;
  }

  .callback-header {
    font-size: 38px;
  }

  .callback-text {
    font-size: 20px;
    line-height: 24px;
    width: 755px;
  }

  .callback-field,
  .callback-btn {
    width: 360px;
  }

  .text-left {
    justify-content: center;
  }

  /* section about */
  /* section review */

  .about-reviews-box {
    justify-content: space-evenly;
  }

  .reviews-box,
  .reviews-box1 {
    width: 400px;
  }

  .img-reviews {
    width: 160px;
    height: 160px;
  }

  .author-name {
    font-family: "MyriadProLight", sans-serif;
    font-size: 36px;
  }

  .author-company {
    font-size: 20px;
    line-height: 24px;
  }

  .author-package,
  .about-package,
  .author-comment {
    font-size: 16px;
  }

  /* section advantage */

  .advantage-wrapper {
    padding: 100px 30px;
  }

  .icon-advantage {
    padding: 0px;
    margin: 0px;
  }

  .advantage-icon {
    width: 130px;
    height: 130px;
  }

  .advantage-img1 {
    margin-top: 40px;
    margin-left: 25px;
    width: 84px;
    height: 49px;
  }

  .advantage-text {
    width: 130px;

    font-size: 18px;
    line-height: 22px;
  }

  .advantage-img2 {
    margin-top: 30px;
    margin-left: 40px;
    width: 62px;
    height: 76px;
  }

  .advantage-img3 {
    margin-top: 32px;
    margin-left: 32px;
    width: 66px;
    height: 66px;
  }

  .advantage-img4 {
    margin-top: 32px;
    margin-left: 32px;
    width: 61px;
    height: 68px;
  }

  .advantage-img6 {
    margin-top: 42px;
    margin-left: 32px;
    width: 74px;
    height: 58px;
  }

  /* section guarantee */

  .guarantee-wrapper {
    padding: 50px 30px 65px 30px;
  }

  .guarantee-reviews-box {
    width: 370px;
    height: 365px;
  }
  .guarantee-icon {
    width: 130px;
    height: 130px;
  }

  .img-guarantee {
    margin-top: 32px;
    margin-left: 25px;
    width: 75px;
    height: 70px;
  }

  .guarantee-header {
    margin: 25px 0px 0px 0px;

    width: 355px;
    height: 35px;

    font-size: 25px;
  }

  .guarantee-text {
    margin: 0px 0px 50px 0px;

    width: 310px;

    font-size: 16px;
    line-height: 19px;
  }

  .guarantee-href {
    padding: 30px;
  }

  .guarantee-callback {
    justify-content: center;
  }

  .img-guarantee2 {
    margin-top: 20px;
    margin-left: 27px;
    width: 75px;
    height: 82px;
  }

  .img-guarantee3 {
    margin-top: 30px;
    margin-left: 30px;
    width: 67px;
    height: 69px;
  }

  /* section guestions */

  .questions-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .question-details {
    margin-right: 30px;
    padding: 20px;

    width: 410px;
  }

  .answer-text {
    width: 392px;
  }

  summary::before {
    right: auto;
    margin-left: 390px;
  }

  details[open] summary::before {
    right: auto;
  }

  /* partners */

  .img-partners {
    width: 95px;
    height: 60px;
  }

  .partners-box {
    padding: 15px 25px 40px 15px;
    width: 1000px;
    height: 35px;
  }

  /* footer */

  .header-send4-text {
    font-size: 20px;
    line-height: 36px;
  }

  .footer-callback {
    padding-bottom: 10px;
    width: 750px;
  }

  .send4-callback-field,
  .footer-callback-btn {
    width: 360px;
  }

  .header-callback-btn-span {
    display: flex;
    justify-content: center;
  }

  .footer-nav-menu-link {
    font-size: 18px;
    line-height: 22px;
  }

  .footer-text {
    font-size: 16px;
    line-height: 19px;
  }

  .footer-icon {
    width: 19px;
    height: 19px;
  }

  .fab {
    margin: 2px 5px 2px 7px;
    font-size: 12px;
  }
}

@media (min-width: 1160px) {
  .feedback-wrapper {
    height: 850vh;
  }

  .guide-wrapper {
    padding-top: 40px;
  }

  .img-send2 {
    width: 660px;
  }

  .img-step1 {
    width: 460px;
    height: 310px;
  }

  .send3-header {
    font-size: 36px;
  }

  .callback-header {
    font-size: 48px;
    line-height: 58px;
  }

  .callback-text {
    font-size: 24px;
    line-height: 23px;
  }

  .reviews-box,
  .reviews-box1 {
    width: 460px;
  }

  .advantage-wrapper {
    height: 435px;
  }

  .guarantee-wrapper {
    height: 610px;
  }

  .advantage-icon {
    width: 160px;
    height: 160px;
  }

  .advantage-img1 {
    margin-top: 55px;
    margin-left: 40px;
  }

  .advantage-text {
    width: 160px;
  }

  .advantage-img2 {
    margin-top: 45px;
    margin-left: 55px;
  }

  .advantage-img3 {
    margin-top: 47px;
    margin-left: 47px;
  }

  .advantage-img4 {
    margin-top: 51px;
    margin-left: 46px;
  }

  .advantage-img6 {
    margin-top: 57px;
    margin-left: 47px;
  }

  .guarantee-icon {
    width: 160px;
    height: 160px;
  }

  .img-guarantee {
    margin-top: 48px;
    margin-left: 41px;
  }

  .guarantee-header {
    font-size: 30px;
  }

  .guarantee-text {
    width: 360px;
  }

  .img-guarantee2 {
    margin-top: 37px;
    margin-left: 43px;
  }

  .img-guarantee3 {
    margin-top: 45px;
    margin-left: 45px;
  }

  .header-send4-text {
    font-size: 30px;
  }

  .questions {
    padding: 100px 0px;
  }

  .question {
    width: 560px;
  }

  .partners {
    height: 170px;
  }

  .partners-wrapper {
    padding: 35px 30px;
  }

  .question-details {
    margin-top: 30px;
    width: 510px;
  }

  summary::before {
    margin-left: 500px;
  }

  .answer-text {
    width: 490px;
  }
}
