/* подключение стилей Myriad Pro */
@font-face {
  font-family: "MyriadProBlack";
  src: url("../fonts/MyriadProBlack/MyriadPro-Black.eot");
  src: url("../fonts/MyriadProBlack/MyriadPro-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/MyriadProBlack/MyriadPro-Black.woff") format("woff"),
    url("../fonts/MyriadProBlack/MyriadPro-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "MyriadProSemiBold";
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot");
  src: url("../fonts/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../fonts/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "MyriadProLight";
  src: url("../fonts/MyriadProLight/MyriadPro-Light.otf") format("otf");
  src: url("../fonts/MyriadProLight/MyriadPro-Light.eot");
  src: url("../fonts/MyriadProLight/MyriadPro-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/MyriadProLight/MyriadPro-Light.woff") format("woff"),
    url("../fonts/MyriadProLight/MyriadPro-Light.woff2") format("woff2"),
    url("../fonts/MyriadProLight/MyriadPro-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

/* mixin */
@mixin burger($width: 40px, $heigt: 3px, $color: #000000) {
  display: block;
  width: $width;
  height: $heigt;
  background-color: $color;
}

@mixin arrow($width: 12px, $heigt: 12px, $color: #c4c4c4, $border: 2px) {
  display: block;

  width: $width;
  height: $heigt;

  border-top: $border solid $color;
  border-right: $border solid $color;
}

@mixin about-header-text {
  font-family: "MyriadProBlack", sans-serif;
  font-size: 28px;
  color: #000000;
}

@mixin hover-menu {
  outline: none;
  border: 0;
  background: transparent;
}

@mixin btn($width: 280px, $height: 40px) {
  height: $height;
  width: $width;
  border: 1px solid #363636;
  box-sizing: border-box;
  border-radius: 30px;
}

/* основные */

body {
  margin: 0;
  font-family: "Lato", Arial, sans-serif;
}

.hidden {
  position: absolute;
  left: -99999px;
  width: 1px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
  /*вместо display: none;*/
}

/* header */

.header {
  margin: 0 auto;
  height: 290px;
  background: url(../img/slider2.jpg) center right no-repeat;
  background-size: 170%;
  background-color: #e5e5e5;
  outline: none;
}

.wrapper {
  min-width: 280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  outline: 1px solid red;
}

/* section drop menu */

.nav {
  padding-top: 38px;
  display: flex;
  justify-content: space-between;
}

.nav-after {
  transform: scale(0);
}

.nav-menu-link {
  font-family: Myriad Pro, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
}

.nav-menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.logo-link {
  text-decoration: none;
}

.logo-img {
  width: 100px;
  height: 29px;
}

.drop-burgers-menu {
  @include hover-menu();
}

.drop-burgers-menu span {
  @include burger();

  margin-bottom: 21px;

  transform: rotate(45deg) scale(0.88);
  transform-origin: left top;
}

.drop-burgers-menu::after {
  content: "";
  @include burger();
  transform: rotate(-45deg) scale(0.88);
  transform-origin: left bottom;
}

.header-menu {
  width: 320px;
  padding-top: 13px;
  height: 616px;
  background: #ffffff;

  position: absolute;
  transform: scale(0, 0);
  transform-origin: left top;
  transition: 0.5s;
}

.main-nav:hover .header-menu {
  transform: scale(1, 1) translateX(-248px) translateY(-60px);
}

.hover-main {
  width: 320px;
  transform: translateX(-23px);
  height: 4145px;
  background: rgba(0, 0, 0, 0.2);
}

.burgers-menu {
  @include hover-menu();
}

.burgers-menu span {
  @include burger();
  background-color: #ffffff;
}

.burgers-menu::before,
.burgers-menu::after {
  content: "";
  @include burger();
}

.burgers-menu::before {
  margin-bottom: 9px;
  background-color: #ffffff;
}

.burgers-menu::after {
  margin-top: 9px;
  background-color: #ffffff;
}

.menu {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.menu-list {
  padding-bottom: 20px;
  list-style-type: none;
}

.menu-link {
  width: 61px;
  height: 22px;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
}

.header-menu-text {
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.header-callback {
  display: flex;
  flex-direction: column;
}

.header-callback-field::-webkit-input-placeholder {
  font-family: "MyriadProRegular", sans-serif;

  font-size: 14px;
  line-height: 17px;
  color: #363636;
}

.header-callback-field {
  padding-left: 25px;
  margin-bottom: 10px;

  font-family: "MyriadProRegular", sans-serif;
  @include btn();
}

.header-callback-btn-span {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;

  font-family: "MyriadProBlack", sans-serif;
  text-transform: uppercase;
}

.text-left {
  padding-right: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.header-callback-btn {
  height: 40px;
  border-radius: 30px;
  background-color: #008dcd;

  transition: 0.5s;

  &:hover {
    box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
  }

  &:active {
    background-color: #94d1ec;
  }
}

.header-callback-input-span {
  font-size: 10px;
  line-height: 12px;
  color: #9e9e9e;
}

/* socials */

.socials {
  display: flex;
  justify-content: space-between;
}

input,
button {
  outline: none;
  border: none;
}

.icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #008dcd;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.5s;

  &:hover {
    box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
  }

  &:active {
    background-color: #94d1ec;
  }
}

.fab {
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 42px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: white;
}

/*section send*/

.send-header {
  font-family: "MyriadProBlack", sans-serif;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;

  text-transform: uppercase;

  color: #000000;
}

.send-text {
  font-family: "MyriadProBlack", sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.send2-info {
  padding-bottom: 17px;
}
.send-href {
  width: 280px;
  height: 48px;
  background: #008dcd;
  border-radius: 30px;
  transition: 0.5s;

  &:hover {
    box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
  }

  &:active {
    background: #94d1ec;
  }
}

.href-send {
  padding-top: 16px;
  padding-bottom: 20px;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}

.send-href-span {
  padding-right: 25px;

  font-family: "MyriadProBlack", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
}

/*section send2*/

.send2 {
  margin-top: 27px;
  margin-bottom: 27px;
  background: #f7f7f7;
}

.img-send2 {
  width: 280px;
}

.send2-header {
  font-family: "MyriadProSemibold", sans-serif;
  font-size: 17px;
  line-height: 22px;
  color: #000000;
}

.send2-text {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #000000;
}

/*section guide*/

.guide-step1 {
  padding-bottom: 10px;
}

.img-step1 {
  width: 278px;
  height: 188px;
}

.guide-step1-header {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 26px;
  line-height: 0px;
  color: #000000;
}

.guide-step1-text {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 13px;
  line-height: 17px;
  color: #000000;
}

/*section send3*/

.send3-wrapper {
  background: #f7f7f7;
}

.send3-header {
  font-family: "MyriadProBlack", sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

/*section callback*/

.callback {
  margin-top: 32px;
  margin-bottom: 7px;
  background: #008dcd;
}

.callback-header {
  padding-top: 30px;

  font-family: "MyriadProBlack", sans-serif;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  color: #ffffff;
}

.callback-text {
  font-family: "MyriadProSemibold", sans-serif;
  font-size: 14px;
  line-height: 13px;
  color: #ffffff;
}

.callback-field::-webkit-input-placeholder {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.callback-field {
  padding-left: 25px;
  margin-bottom: 9px;

  width: 280px;
  height: 48px;

  font-family: "MyriadProRegular", sans-serif;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 30px;
  background: #008dcd;
}

.callback-btn {
  width: 280px;
  height: 48px;

  background: #ffcc00;
  border-radius: 30px;

  &:hover {
    box-shadow: 0px 4px 20px rgba(255, 204, 0, 0.55);
  }

  &:active {
    background: #fce39c;
  }
}

.callback-btn-span {
  font-family: "MyriadProBlack", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #363636;
}

input::before,
input::after {
  box-sizing: border-box;
}

input[type="checkbox"] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.callback-agree-input {
  width: 10px;
  height: 10px;

  border: 1px solid #ffffff;

  background-color: #008dcd;
}

.callback-input-span {
  font-family: "MyriadProLight", sans-serif;
  font-size: 10px;
  line-height: 0px;
  color: #ffffff;
}

.callback-wrapper {
  padding-bottom: 10px;
}

/*section about*/

.about-header {
  @include about-header-text();
}

/* section guarantee pagination */

.pagination-left {
  @include arrow();
  transform: rotate(-135deg) scale(1.5);
  translate: 0px -10px;
}

.pagination-right {
  @include arrow();
  transform: rotate(45deg) scale(1.5);
  translate: 0px -10px;
}

.pagination-partners {
  translate: 0px 10px;
}

/* section reviews box guarantee */

.reviews-box {
  margin-left: 0px;
  margin-top: 0px;
}

.reviews-text {
  min-width: 230px;
  max-width: 275px;
  display: flex;
  justify-content: start;
}

.about-reviews,
.about-guarantee,
.partners-wrapper {
  margin-bottom: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-guarantee {
  align-items: baseline;
}

.about-reviews-box {
  margin: 0px 10px;
  width: 230px;

  display: flex;
  flex-grow: 1;
}

.about-reviews-author {
  margin-left: 19px;
}

.img-reviews {
  width: 100px;
  height: 100px;
}

.about-reviews-author {
  margin-top: -22px;
  height: 110px;
}

.author-name {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 26px;
  line-height: 6px;
  color: #000000;
}

.author-company {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 18px;
  line-height: 9px;
  color: #000000;
}

.author-package {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 10px;
  line-height: 5px;
  color: #000000;
}

.author-package-span {
  padding-left: 5px;
}

.about-package {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 10px;
  line-height: 4px;
  color: #000000;
}

.author-comment {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.reviews-box1 {
  transform: scale(0);
}

/*section advantage*/

.advantage {
  background: #f7f7f7;
}

.advantage-header {
  @include about-header-text();
  line-height: 30px;
}

.advantage-icon-block {
  padding-bottom: 28px;
  display: flex;
  flex-wrap: wrap;
}

.icon-advantage {
  width: 33%;
  padding-bottom: 60px;
}

.advantage-icon {
  width: 86px;
  height: 86px;
  background: #ffffff;
  border-radius: 50%;
}

.advantage-img1 {
  margin-top: 28px;
  margin-left: 16px;
  width: 58px;
  height: 34px;
}

.advantage-img2 {
  margin-top: 22px;
  margin-left: 27px;
  width: 35px;
  height: 41px;
}

.advantage-img3 {
  margin-top: 25px;
  margin-left: 25px;
  width: 36px;
  height: 36px;
}

.advantage-img4 {
  margin-top: 28px;
  margin-left: 24px;
  width: 37px;
  height: 32px;
}

.advantage-img5 {
  margin-top: 25px;
  margin-left: 25px;
  width: 38px;
  height: 36px;
}

.advantage-img6 {
  margin-top: 30px;
  margin-left: 25px;
  width: 40px;
  height: 31px;
}

.advantage-text {
  margin-left: 13px;
  width: 62px;
  height: 16px;

  font-family: "MyriadProRegular", sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
  text-align: center;
}

/*section guarantee*/

.guarantee-header {
  margin-top: 10px;

  width: 160px;
  height: 39px;

  font-family: "MyriadProRegular", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.reviews-box-guarantee {
  min-width: 230px;
  height: 235px;
}

.guarantee-reviews-text {
  display: flex;
  justify-content: space-around;
}

.guarantee-icon {
  margin-left: 15px;

  width: 62px;
  height: 62px;

  background: #f7f7f7;
  border-radius: 50%;
}

.img-guarantee {
  margin-top: 19px;
  margin-left: 17px;

  width: 28px;
  height: 26px;
}

.guarantee-text {
  padding-left: 30px;

  width: 230px;

  font-family: "MyriadProRegular", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.guarantee-callback {
  margin-left: 30px;

  @include btn(230px, 40px);
  border: none;

  background: #008dcd;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  transition: 0.5s;

  &:hover {
    box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
  }

  &:active {
    background-color: #94d1ec;
  }
}

.guarantee-href {
  padding-right: 25px;

  font-family: "MyriadProBlack", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;

  text-transform: uppercase;
  text-decoration: none;
}

/*section questions*/

.questions {
  padding-bottom: 25px;
  background: #d2ecf7;
}

.questions-header {
  padding-top: 25px;

  font-family: "MyriadProBlack", sans-serif;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
}

.question-details {
  margin-top: 10px;
  height: 80px;
  background: #ffffff;
  border-radius: 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-text,
.answer-text {
  width: 205px;

  padding: 10px 25px;

  font-family: "MyriadProRegular", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.question-text {
  width: 205px;
}

.answer-text {
  width: 225px;
  height: 80px;
  border: 1px solid #ffffff;
  border-radius: 32px;
}

summary {
  position: relative;
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: "";
  position: absolute;
  right: 25px;

  @include arrow(8px, 8px, #008dcd, 2px);
  transform: rotate(135deg);
}

details[open] summary::before {
  content: "";
  right: 25px;

  @include arrow(8px, 8px, #008dcd, 2px);
  transform: rotate(-45deg);
}

.box-after {
  transform: scale(0);
}

/*section partners*/

.partners-box {
  padding: 15px 0px;

  width: 220px;
  height: 90px;
}

.href-partners-icon-after {
  transform: scale(0);
}

.partners-icon {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.href-partners-icon {
  flex: 1 1;
}

/*section send4*/

.send4 {
  background: #e9e9e9;
}

.header-send4-text {
  font-family: "MyriadProRegular", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

/* section footer-send4 */

.footer-send4-callback {
  padding-top: 12px;
}

.send4-callback-field::-webkit-input-placeholder {
  font-family: "MyriadProRegular", sans-serif;

  font-size: 14px;
  line-height: 17px;
  color: #363636;
}

.send4-callback-field {
  padding-left: 25px;
  margin-bottom: 10px;

  @include btn();
  font-family: "MyriadProRegular", sans-serif;
  background: #e9e9e9;
}
.footer-callback-btn {
  height: 40px;
  border-radius: 30px;
  background-color: #008dcd;

  transition: 0.5s;

  &:hover {
    box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
  }

  &:active {
    background-color: #94d1ec;
  }
}
.send4-footer {
  height: 55px;
}

.send4-nav {
  border-top: 1px solid#C4C4C4;
}

.send4-burgers-menu {
  @include hover-menu();
}

.send4-burgers-menu span {
  @include arrow();
  background-color: #363636;
}

.send4-burgers-menu::before,
.send4-burgers-menu::after {
  content: "";
  @include arrow();
}

.send4-burgers-menu::before {
  margin-bottom: 9px;
  background-color: #363636;
}

.send4-burgers-menu::after {
  margin-top: 9px;
  background-color: #363636;
}

.footer-text {
  margin-top: 17px;
  font-size: 9px;
  line-height: 12px;
  color: #000000;
  border-top: 1px solid#C4C4C4;

  display: flex;
  justify-content: space-between;
}

.footer-callback {
  display: flex;
  flex-direction: column;
}

.footer-nav {
  padding-top: 19px;
  display: flex;
  justify-content: space-between;
}

.nav-after {
  transform: scale(0);
}

.footer-nav-menu-link {
  font-family: Myriad Pro;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-decoration: none;
}

.nav-menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.footer-burgers-menu {
  @include hover-menu();
}

.footer-burgers-menu span {
  @include arrow();
  background-color: #000000;
}

.footer-burgers-menu::before,
.footer-burgers-menu::after {
  content: "";
  @include arrow();
}

.footer-burgers-menu::before {
  margin-bottom: 9px;
  background-color: #000000;
}

.footer-burgers-menu::after {
  margin-top: 9px;
  background-color: #000000;
}

.footer-nav-after {
  transform: scale(0);
}

.footer-socials {
  width: 60px;
  transform: scale(0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-icon {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #008dcd;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.5s;

  &:hover {
    box-shadow: 0px 4px 15px rgba(27, 170, 235, 0.45);
  }

  &:active {
    background-color: #94d1ec;
  }
}

@media (min-width: 620px) {
  .header {
    height: 525px;
    transform: translateY(-50px);
  }

  .main-nav:hover .header-menu {
    transform: scale(0);
  }
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .nav {
    transform: scale(0);
  }

  .nav-after {
    min-width: 720px;
    transform: scale(1) translateX(-40px);
  }

  .send {
    width: 500px;
    transform: translateY(-450px);
  }

  .send-header {
    font-family: "MyriadProBold";
    font-size: 44px;
    line-height: 53px;
    color: #ffffff;
  }

  .send-text {
    font-family: "MyriadProBlack", sans-serif;
    font-size: 28px;
    line-height: 34px;
    color: #ffffff;
  }

  .main {
    transform: translateY(-420px);
  }

  .send2 {
    margin-top: 25px;
    margin-bottom: 34px;
    height: 314px;
  }

  .send2-header {
    font-size: 36px;
    line-height: 43px;
    transform: translateY(-222px);
  }

  .send2-info {
    width: 280px;
    transform: translateY(-245px);
  }

  .send2-text {
    padding-top: 10px;
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 17px;
  }
  .img-send2 {
    width: 398px;
    transform: translateY(55px) translateX(297px);
  }

  .guide-wrapper {
    padding-top: 38px;
    margin-left: 44px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .guide-step1 {
    flex: 1 1;
    min-width: 280px;
    padding-bottom: 35px;
  }

  .guide-step1-text {
    font-size: 16px;
    line-height: 19px;
  }

  .send3-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .send3-header {
    width: 380px;
    font-size: 28px;
    line-height: 34px;
  }

  .callback-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .callback-header {
    min-width: 392px;
  }

  .callback-text {
    width: 296px;
  }

  .callback-wrapper-form {
    padding-top: 50px;
  }

  .reviews-box1 {
    transform: scale(1);
  }

  .review {
    height: 396px;
  }

  .author-comment {
    font-size: 14px;
    line-height: 17px;
  }

  .about-header,
  .advantage-header {
    font-size: 36px;
    line-height: 43px;
  }

  .advantage-icon {
    width: 100px;
    height: 100px;
  }

  .advantage-img1 {
    margin-top: 35px;
    margin-left: 24px;
    width: 56px;
    height: 32px;
  }

  .advantage-img2 {
    margin-top: 26px;
    margin-left: 32px;
    width: 40px;
    height: 48px;
  }

  .advantage-img3 {
    margin-top: 29px;
    margin-left: 29px;
    width: 42px;
    height: 42px;
  }

  .advantage-img4 {
    margin-top: 32px;
    margin-left: 28px;
    width: 43px;
    height: 37px;
  }

  .advantage-img5 {
    margin-top: 29px;
    margin-left: 28px;
    width: 44px;
    height: 43px;
  }

  .advantage-img6 {
    margin-top: 35px;
    margin-left: 29px;
    width: 47px;
    height: 36px;
  }

  .advantage-text {
    margin-left: 2px;
    width: 100px;
    height: 19px;

    font-size: 12px;
    line-height: 14px;
  }

  .guarantee-icon {
    width: 100px;
    height: 100px;
    background: #f7f7f7;
  }

  .img-guarantee {
    margin-top: 28px;
    margin-left: 27px;
    width: 46px;
    height: 44px;
  }

  .img-guarantee2 {
    margin-top: 23px;
    margin-left: 26px;
    width: 47px;
    height: 52px;
  }

  .img-guarantee3 {
    margin-top: 24px;
    margin-left: 26px;
    width: 49px;
    height: 51px;
  }

  .guarantee-header {
    margin-top: 18px;
    width: 218px;
    height: 24px;
    font-size: 19px;
    line-height: 10px;
  }

  .guarantee-text {
    width: 220px;
    margin-top: -30px;
  }

  .guarantee-callback {
    width: 220px;
  }

  .box-after {
    transform: scale(1);
  }
  .advantage-wrapper {
    height: 314px;
  }

  .reviews-box-guarantee {
    height: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .question-details {
    height: 48px;
  }

  .question-text {
    padding-left: 31px;
    font-size: 17px;
    line-height: 19px;
  }

  .questions {
    height: 477px;
  }

  .partners {
    height: 112px;
    transform: translateY(-420px);
  }

  .href-partners-icon-after {
    transform: scale(1);
    flex: 1 1;
  }

  .partners-box {
    width: 665px;
    padding-left: 40px;
    padding-right: 25px;
    padding-top: 17px;
  }

  .footer {
    transform: translateY(-420px);
  }

  .header-send4-text {
    font-size: 20px;
    line-height: 24px;
  }

  .send4-callback-field {
    padding-left: 25px;
    margin-bottom: 8px;

    height: 48px;
    width: 220px;

    font-family: "MyriadProRegular", sans-serif;
  }

  .footer-callback-btn {
    width: 220px;
    height: 48px;
  }

  .footer-send4-callback {
    padding-top: 33px;
  }

  .footer-callback {
    padding-top: 10px;
    width: 460px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-send4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-callback-input {
    text-align: center;
    margin-top: -4px;
  }

  .footer-nav {
    transform: scale(0);
  }

  .footer-nav-after {
    transform: scale(1) translateY(-50px) translateX(-40px);
  }

  .footer-socials {
    transform: scale(1);
  }

  .fab {
    font-family: FontAwesome;
    font-size: 6px;
    line-height: 42px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: white;
  }
}
